/*utils*/
@mixin transition($something){
  -webkit-transition: $something;
  -moz-transition: $something;
  -ms-transition: $something;
  -o-transition: $something;
  transition: $something;
}
/*******************************/

.profile-menu {
  width: 100%;
  min-height: 150px;
  position: relative;
  overflow: hidden;

  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  .blurred-background img {
    width: 100%;
    height: 100%;
  }
  .picture {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: 2;
  }
  .subtitle {
    position: relative;
    z-index: 2;
    margin-top: 16px;
    color: white;
    cursor: pointer;
    span {

    }
  }
}

.dt-row {
  cursor:pointer;
}
md-content.holder {
  background: #f7f7f7;
}

.md-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

div.md-padding.view {
  padding: 38px;
}

md-item-content {
  position: relative;
}

md-sidenav{
  overflow-y:auto;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.dt-cell button {
  top: -12px;
}

div > md-input-container {
  max-width: 100%;
  min-width:250px;
  margin-right: 10px;
}

.active md-item-content {
  background-color: rgba(167, 163, 163, 0.28);
}

.previews{
  padding-top: 15px;
  max-width:100%;
  margin:auto;

  audio, video, img, iframe{
    max-height: 250px;
    max-width: 100%;
    display: block;
    margin: auto;
  }
  audio{
    width:100%;
  }
  button{
    margin-left:0px;
  }
  p{
    text-align: center;
    -ms-word-break: break-all;
    word-break: break-all;
  }
}

md-toast.md-error-toast-theme {
  background-color: rgb(255, 70, 72);
}

md-select .md-select-label{
  width:100%;
}

.holder-login{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .card-login{
    width:300px;
    max-width:80%;
  }
}

.dt-cell-content {
  vertical-align: middle;
  line-height: 33px;
  button.md-button {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .holder-btn button + button {
    right: 40px!important;
  }

}

form > md-input-container:last-child:not(:only-child) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.o-separator{
  margin: 0 30px;
}

md-input-container input {
  min-width: 250px;
}

md-chips-wrap.md-chips.ng-scope {
  margin-bottom: 20px;
  max-width: 99.1%;
}

.md-dialog-container {
  height: 100%!important;
}

md-dialog md-progress-linear {
  left: 0;
  margin: 0;
  position: absolute!important;
  bottom: 0;
}
md-progress-linear md-container {
  top:0px;
}

md-list {
  overflow-y: auto;
}

md-dialog-content#dialog-noticia {
  width: calc(100vw - 48px);
  height: 100vh;
}

md-dialog#dialog-noticia {
  max-width: 100%;
  max-height: 100%;
}