<div class="holder-login" layout="vertical"  layout-align="center center">

<md-card class="card-login" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>MPTO Control</h1>
        </div>
    </md-toolbar>
    <md-card-content >

        <form name="loginForm" ng-controller="LoginController"
              ng-submit="login(credentials)" novalidate>

            <md-input-container>
                <label>Email</label>
                <input id="username" name="email" ng-model="credentials.email" required/>
                <div ng-messages="form.email.$error" ng-show="(form.email.$dirty || attempted)">
                    <div ng-message="required">Debes ingresar un nombre.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Contraseña</label>
                <input name="password" id="passowrd" type="password" ng-model="credentials.password" required/>
                <div ng-messages="form.password.$error" ng-show="(form.password.$dirty || attempted)">
                    <div ng-message="required">Debes ingresar un nombre.</div>
                </div>
            </md-input-container>
            <div class="md-actions" layout="row" layout-align="end center">
                <span flex></span>
                <md-button class="md-primary md-raised" type="submit">
                    Login
                </md-button>
            </div>
        </form>
    </md-card-content>

</md-card>
</div>