<md-sidenav   ng-if="main.currentUser" md-component-id="side-nav" class="md-whiteframe-z2 md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
    <header class="profile-menu md-padding">
        <div class="blurred-background" style="background-image: url('assets/bg-profile.png');">
        </div>
        <div class="picture" style="background-image: url('assets/profile.jpg');"></div>
        <div class="subtitle" >
            <span class="name .md-body-2">{{main.currentUser.nombre}}</span>
            <span class="email .md-body-1">{{main.currentUser.email}}</span>
        </div>
    </header>
    <md-list ng-controller="MenuController">
        <md-item ui-sref-active="active" ng-repeat="item in menu" ng-if="isAuthorized(item.roles)">
            <a  ui-sref="{{item.link}}">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon layout="row">
                            <i class="material-icons" >{{item.icon}}</i>
                        </md-icon>
                    </div>
                    <div class="inset">{{item.title}}</div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
    </md-list>
</md-sidenav>