<md-dialog class="md-padding md-whiteframe-z2" xmlns:display="http://www.w3.org/1999/xhtml" flow-init="{target:'/uploader'}" flow-drop flow-drag-enter="style={opacity: 0.5}"
           flow-drag-leave="style={}">
    <md-dialog-content>
        <h2>Agregar Ad</h2>
        <form name="adForm">
            <md-input-container>
                <label>Nombre</label>
                <input name="nombre" ng-model="ad.nombre" required/>
                <div ng-messages="adForm.nombre.$error" ng-show="adForm.nombre.$dirty">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>

            </md-input-container>
            <md-input-container>
                <md-checkbox ng-model="ad.skip_enabled" aria-label="Skipable">
                    Skipable
                </md-checkbox>
            </md-input-container>

            <div class="upload-container">
             <md-button type="file" ng-model="ad.source" ngf-select>Subir fuente</md-button>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
</md-dialog>