<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Material Control > {{state.name | capitalize}} </title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-data-table/dataTable.css">
    <link rel="stylesheet" href="bower_components/angular-data-table/material.css">
</head>
<body ng-app="backendApp"  layout="column" layout-align="top center" >
<md-toolbar ng-if="currentUser" ng-controller="HeaderController" class="md-whiteframe-z3">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Show slider" hide-gt-md ng-click="openLeftMenu()">
            <md-icon>
                <i class="material-icons" >menu</i>
            </md-icon>
        </md-button>
        <span class="md-flex">MATERIAL CONTROL > {{state.name | uppercase}}</span>
    </div>
</md-toolbar>
<div  ng-if="currentUser" flex layout="row">
    <md-sidenav  md-component-id="side-nav" class="md-whiteframe-z2 md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
        <header class="profile-menu md-padding">
            <div class="blurred-background" style="background-image: url('assets/bg-profile.png');">
            </div>
            <div class="picture" style="background-image: url('assets/profile.jpg');"></div>
            <div class="subtitle" >
                <span class="name .md-body-2">{{currentUser.nombre}}</span>
                <span class="email .md-body-1">{{currentUser.email}}</span>
            </div>
        </header>
        <md-list ng-controller="MenuController">
            <md-item ui-sref-active="active" ng-repeat="item in menu" ng-if="isAuthorized(item.roles)">
                <a  ui-sref="{{item.link}}">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon layout="row">
                                <i class="material-icons" >{{item.icon}}</i>
                            </md-icon>
                        </div>
                        <div class="inset">{{item.title}}</div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
        </md-list>
    </md-sidenav>
    <md-content class="holder" flex>
        <div ui-view class="md-padding view">
        </div>
    </md-content>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-ui-router/angular-ui-router.min.js"></script>
<script src="bower_components/angular-messages/messages.js"></script>
<script src="bower_components/angular-data-table/dataTable.helpers.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>


<script src="js/services.js"></script>
<script src="js/controllers/common.js"></script>
<script src="js/controllers/evento.js"></script>
<script src="js/controllers/promos.js"></script>
<script src="js/controllers/canciones.js"></script>
<script src="js/controllers/discos.js"></script>
<script src="js/controllers/videos.js"></script>
<script src="js/controllers/noticias.js"></script>
<script src="js/controllers/categorias.js"></script>
<script src="js/controllers/login.js"></script>
<script src="js/app.js"></script>

</body>
</html>