<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Angular Material Backend</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="backendApp" ng-controller="ListController" layout="column" layout-align="top center">
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Show slider" hide-gt-md ng-click="toggleNav()">
            <md-icon>
                <i class="material-icons" >menu</i>
            </md-icon>
        </md-button>
        <span class="md-flex">Backend</span>
    </div>
</md-toolbar>
<div  flex layout="row">
    <md-sidenav layout="column" class="md-whiteframe-z2 md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')"></md-sidenav>
    <md-content layout="column">
        <div class="app-content">
            <form ng-submit="search()">
                <md-text-float label="Search for" ng-model="searchTerm"></md-text-float>
            </form>
        </div>
    </md-content>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="app.js"></script>
</body>
</html>