<md-dialog xmlns:display="http://www.w3.org/1999/xhtml" class="md-whiteframe-z2" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!edit">Agregar usuario</h2>
            <h2 ng-if="edit">Editar usuario</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.hide()">
                <md-icon>
                    <i class="material-icons" >clear</i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <md-input-container flex>

                    <label>Nombre</label>
                    <input ng-disabled="submitting" name="nombre" ng-model="user.nombre" required/>
                    <div ng-disabled="submitting" ng-messages="form.nombre.$error" ng-show="(form.nombre.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-disabled="submitting" name="email" ng-model="user.email" required type="email"/>
                    <div ng-disabled="submitting" ng-messages="form.email.$error" ng-show="(form.email.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                        <div ng-message="email">Debes ingresar un email valido.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Contrase&ntilde;a</label>
                    <input ng-disabled="submitting" name="password" ng-model="user.password" equals="{{user.password2}}" type="password" ng-required="!edit"/>
                    <div ng-disabled="submitting" ng-messages="form.password.$error" ng-show="(form.password.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                        <div ng-message="equals">Las contrase&ntilde;as deben coincidir</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Confirma la contrase&ntilde;a</label>
                    <input ng-disabled="submitting" name="password2" ng-model="user.password2"  equals="{{user.password}}" type="password" ng-required="!edit"/>
                    <div ng-disabled="submitting" ng-messages="form.password2.$error" ng-show="(form.password2.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                        <div ng-message="equals">Las contrase&ntilde;as deben coincidir</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <label for="rol">Rol</label>
                <md-select ng-disabled="submitting" name="rol" ng-model="user.rol" required>
                    <md-option ng-value="rol" ng-repeat="(rol, nombre) in roles">{{nombre}}</md-option>
                </md-select>
                <div ng-messages="form.rol.$error" ng-show="(form.rol.$dirty || attempted)">
                    <div ng-message="required">Debes seleccionar un rol.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <div class="upload-container">
                    <md-button ngf-change="fileChanged()" ng-disabled="submitting" class="md-raised md-primary file" type="file" name="imagen" ng-model="user.imagen" ngf-select="" ngf-accept="'image/*'">
                        Imagen perfil
                    </md-button>
                    <div ng-messages="form.imagen.$error" ng-show="(form.imagen.$dirty || attempted)">
                        <div ng-message="required">Debe subir una imagen.</div>
                    </div>
                    <div class="previews" ng-if="user.imagen">
                        <img  ngf-src="user.imagen" ngf-accept="'image/*'"/>
                        <p >{{user.imagen.name || user.imagen}}</p>
                    </div>
                    <md-progress-linear ng-if="progress!=0" class="md-accent" md-mode="determinate" value="{{progress}}">
                </div>
            </md-input-container>
        </form>

    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
    <md-progress-linear ng-if="vm.submitting || vm.progress!=0" class="md-accent" md-mode="{{vm.progress!=0 ? 'determinate' : 'indeterminate'}}" value="{{vm.progress}}">
</md-dialog>