<dtable options="options" rows="users" class="material dt">
    <!--column><img ng-src="{{row.imagen}}" /></column-->
    <column name="Nombre"></column>
    <column name="Email"></column>
    <column name="Rol">{{$row.rol | capitalize}}</column>
    <column name="Creado">{{$row.created_at | date:'MM/dd/yyyy'}}</column>
    <column frozenRight="true" width="50">
        <md-button class="md-icon-button" ng-click="delete($row, $event)">
            <md-icon>
                <i class="material-icons" >delete</i>
            </md-icon>
        </md-button>
    </column>
</dtable>


<md-button class="md-fab agregar" ng-click="showAdd($event)">
    <md-icon>
        <i class="material-icons" >add</i>
    </md-icon>
</md-button>

