<dtable options="options" rows="cuentos" class="material dt" on-row-click="showEdit(row)">
    <!--column><img ng-src="{{row.imagen}}" /></column-->
    <column name="Nombre">{{$row.nombre}}</column>
    <column name="Apellido"></column>
    <column name="Email"></column>
    <column name="Creado">{{$row.created_at | date:'MM/dd/yyyy'}}</column>
    <column name="Estado" prop="aprobado" >{{$cell === 1 ? "Aprobado" : ($cell === 0 ? "Rechazado" : "Pendiente")}}</column>
    <column width="50">
        <md-button class="md-icon-button" ng-click="delete($row, $event)">
            <md-icon>
                <i class="material-icons" >delete</i>
            </md-icon>
        </md-button>
    </column>
</dtable>