<md-dialog xmlns:display="http://www.w3.org/1999/xhtml" class="md-whiteframe-z2" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!edit">Agregar comentario</h2>
            <h2 ng-if="edit">Moderar comentario</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>
                    <i class="material-icons" >clear</i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content id="show-comentario">
        <form name="form">
            <div layout="row">
                <md-input-container flex>
                    <label>Usuario</label>
                    <input name="nombre" ng-model="comentario.nombre" disabled/>
                </md-input-container>
                <md-input-container flex>
                    <label>Noticia</label>
                    <input name="email" ng-model="comentario.noticia.headline" disabled/>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Texto</label>
                <textarea ng-model="comentario.texto"></textarea>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="approve(selectedItem, false, $event)" class="md-warning">
            Rechazar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="approve(selectedItem, true, $event)" class="md-primary">
            Aprobar
        </md-button>
    </div>
</md-dialog>