<div class="holder-filters" layout="row">
    <md-checkbox ng-model="filters.pendientes" aria-label="Checkbox Pendientes">
        Pendientes
    </md-checkbox>
    <md-checkbox ng-model="filters.aprobados" aria-label="Checkbox Aprobados">
        Aprobados
    </md-checkbox>
    <md-checkbox ng-model="filters.rechazados" aria-label="Checkbox Rechazados">
        Rechazados
    </md-checkbox>
</div>

<dtable options="options" rows="comentarios" class="material dt" on-row-click="showEdit(row)">
    <!--column><img ng-src="{{row.imagen}}" /></column-->
    <column name="Usuario">{{$row.nombre}}</column>
    <column name="Noticia">{{$row.noticia.headline}}</column>
    <column name="Comentario">{{$row.texto}}</column>
    <column name="Creado">{{$row.created_at | date:'MM/dd/yyyy'}}</column>
    <column name="Estado" prop="aprobado" >{{$cell === 1 ? "Aprobado" : ($cell === 0 ? "Rechazado" : "Pendiente")}}</column>
    <column name="" prop="id"  width="100">
        <div class="holder-btn">
            <md-button class="md-icon-button"  ng-click="approve($row, true, $event)">
                <md-icon>
                    <i class="material-icons" >done</i>
                </md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="approve($row, false, $event)">
                <md-icon>
                    <i class="material-icons" >clear</i>
                </md-icon>
            </md-button>
        </div>
    </column>
</dtable>