<md-dialog class="md-whiteframe-z2" xmlns:display="http://www.w3.org/1999/xhtml" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!edit">Agregar video</h2>
            <h2 ng-if="edit">Editar video</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <md-input-container >
                <label>Nombre</label>
                <input ng-disabled="submitting" name="nombre" ng-model="video.nombre" required />
                <div ng-messages="form.nombre.$error" ng-show="(form.nombre.$dirty || attempted)">
                    <div ng-message="required">Debe completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <md-select ng-disabled="submitting" name="ad" placeholder="Sin ad" ng-model="video.ad_id">
                    <md-option value="0" >Sin ad</md-option>
                    <md-option ng-value="ad.id" ng-repeat="ad in ads">{{ad.nombre}}</md-option>
                </md-select>
            </md-input-container>
            <div layout="row" layout-align="space-between center"  >
                <md-input-container>
                    <div class="upload-container">
                        <md-button ngf-change="fileChanged()" ng-disabled="submitting" class="md-raised md-primary file" type="file" name="source" ng-model="video.source" required ngf-select="" ngf-accept="'video/*'">Subir fuente</md-button>
                        <div ng-messages="form.source.$error" ng-show="(form.source.$dirty || attempted)">
                            <div ng-message="required">Debe subir un archivo </div>
                        </div>
                    </div>
                </md-input-container>
                <p class="o-separator">o</p>
                <md-input-container>
                    <label>Youtube link</label>
                    <input  ng-model-options='{ debounce: 500 }' ng-change="linkChanged()" ng-disabled="submitting" name="youtube" ng-model="video.source"/>
                </md-input-container>
            </div>
            <div class="previews" ng-if="video.source">
                <iframe ng-if="isLink && youtubeId!=''" type="text/html" ng-src="{{getYt(youtubeId)}}" frameborder="0"></iframe>
                <video ng-if="$root.isType('video', video.source.type, video.source) || video.type=='video'" controls ngf-src="video.source" ngf-accept="'video/*'"/>
                <p>{{video.source.name || video.source}}</p>
            </div>
            <md-progress-linear ng-if="progress!=0" class="md-accent" md-mode="determinate" value="{{progress}}">
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
</md-dialog>