<md-dialog xmlns:display="http://www.w3.org/1999/xhtml" class="md-whiteframe-z2" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!edit">Agregar evento</h2>
            <h2 ng-if="edit">Editar evento</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>
                    <i class="material-icons" >clear</i>
                </md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <md-input-container flex>

                    <label>Titulo</label>
                    <input ng-disabled="submitting" name="titulo" ng-model="evento.titulo" required/>
                    <div ng-disabled="submitting" ng-messages="form.titulo.$error" ng-show="(form.titulo.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Tel&eacute;fono</label>
                    <input name="telefono" ng-model="evento.telefono" required/>
                    <div ng-disabled="submitting" ng-messages="form.telefono.$error" ng-show="(form.telefono.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>

                    <label>Email</label>
                    <input ng-disabled="submitting" name="email" ng-model="evento.email" required type="email"/>
                    <div ng-disabled="submitting" ng-messages="form.email.$error" ng-show="(form.email.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                        <div ng-message="email">Debes ingresar un email valido.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Fecha</label>
                    <!--md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker-->
                    <input ng-disabled="submitting" name="fecha" ng-model="evento.fecha" type="date" required/>
                    <div ng-disabled="submitting" ng-messages="form.fecha.$error" ng-show="(form.fecha.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Descripci&oacute;n</label>
                <textarea ng-disabled="submitting" name="descripcion" ng-model="evento.descripcion" required></textarea>
                <div ng-disabled="submitting" ng-messages="form.descripcion.$error" ng-show="(form.descripcion.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <div class="upload-container">
                    <md-button ngf-change="fileChange()" ng-disabled="submitting" class="md-raised md-primary file" type="file" name="imagen" ng-model="evento.imagen" required ngf-select="" ngf-accept="'image/*'">
                        Subir imagen
                    </md-button>
                    <div ng-messages="form.imagen.$error" ng-show="(form.imagen.$dirty || attempted)">
                        <div ng-message="required">Debe subir una imagen.</div>
                    </div>
                    <div class="previews" ng-if="evento.imagen">
                        <img ngf-src="evento.imagen" ngf-accept="'image/*'"/>
                        <p >{{evento.imagen.name || evento.imagen}}</p>
                    </div>
                    <md-progress-linear ng-if="progress!=0" class="md-accent" md-mode="determinate" value="{{progress}}">
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
    <md-progress-linear ng-if="vm.submitting || vm.progress!=0" class="md-accent" md-mode="{{vm.progress!=0 ? 'determinate' : 'indeterminate'}}" value="{{vm.progress}}">
</md-dialog>