<md-dialog class="md-padding md-whiteframe-z2" xmlns:display="http://www.w3.org/1999/xhtml" >
    <md-dialog-content>
        <h2>Agregar disco</h2>
        <form name="form">
            <md-input-container>
                <label>Nombre</label>
                <input name="nombre" ng-model="disco.nombre" required/>
                <div ng-disabled="submitting" ng-messages="form.nombre.$error" ng-show="(form.nombre.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Descripci&oacute;n</label>
                <textarea name="descripcion" ng-model="disco.descripcion" required> </textarea>
                <div ng-disabled="submitting" ng-messages="form.descripcion.$error" ng-show="(form.descripcion.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Link appstore</label>
                <input name="link_appstore" ng-model="disco.link_appstore" required/>
                <div ng-disabled="submitting" ng-messages="form.link_appstore.$error" ng-show="(form.link_appstore.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Link playstore</label>
                <input name="link_playstore" ng-model="disco.link_playstore" required/>
                <div ng-disabled="submitting" ng-messages="form.link_playstore.$error" ng-show="(form.link_playstore.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Link spotify</label>
                <input name="link_spotify" ng-model="disco.link_spotify" required/>
                <div ng-disabled="submitting" ng-messages="form.link_spotify.$error" ng-show="(form.link_spotify.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <div class="upload-container">
                    <md-button ngf-change="fileChanged()" ng-disabled="submitting" class="md-raised md-primary file" type="file" name="cover_img" ng-model="disco.cover_img" required ngf-select="" ngf-accept="'image/*'">Subir cover</md-button>
                    <label ng-if="disco.cover_img">{{disco.cover_img.name}}</label>
                    <div ng-messages="form.cover_img.$error" ng-show="(form.cover_img.$dirty || attempted)">
                        <div ng-message="required">Debe subir una imagen.</div>
                    </div>
                    <img ng-if="disco.cover_img" ngf-src="disco.cover_img" ngf-accept="'image/*'"/>
                    <md-progress-linear ng-if="progress!=0" class="md-accent" md-mode="determinate" value="{{progress}}">
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
</md-dialog>