<md-dialog xmlns:display="http://www.w3.org/1999/xhtml" class="md-whiteframe-z2"  id="dialog-noticia">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!edit">Agregar noticia</h2>
            <h2 ng-if="edit">Editar noticia</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>
                    <i class="material-icons" >clear</i>
                </md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <md-input-container flex>
                    <label>Headline</label>
                    <input name="headline" ng-model="noticia.headline" required ng-disabled="submitting"/>
                    <div ng-messages="form.headline.$error" ng-show="(form.headline.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Autor</label>
                    <input name="autor" ng-model="noticia.autor" required ng-disabled="submitting"/>
                    <div  ng-messages="form.autor.$error" ng-show="(form.autor.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Categoria</label>
                    <md-select ng-disabled="submitting" name="categoria" placeholder="Categoria" ng-model="noticia.categoria_id" required>
                        <md-option ng-value="categoria.id" ng-repeat="categoria in categorias">{{categoria.nombre}}</md-option>
                    </md-select>
                    <div ng-messages="form.categoria.$error" ng-show="(form.categoria.$dirty || attempted)">
                        <div ng-message="required">Debes seleccionar una categoria.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Video</label>
                    <md-select ng-disabled="submitting" name="video" placeholder="Video" ng-model="noticia.video_id" required>
                        <md-option ng-value="video.id" ng-repeat="video in videos">{{video.nombre}}</md-option>
                    </md-select>
                    <div  ng-messages="form.video.$error" ng-show="(form.video.$dirty || attempted)">
                        <div ng-message="required">Debes seleccionar un video.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Canci&oacute;n</label>
                    <md-select ng-disabled="submitting" name="cancion" placeholder="Canci&oacute;n" ng-model="noticia.cancion_id" required>
                        <md-option ng-value="cancion.id" ng-repeat="cancion in canciones">{{cancion.nombre}}</md-option>
                    </md-select>
                    <div  ng-messages="form.cancion.$error" ng-show="(form.cancion.$dirty || attempted)">
                        <div ng-message="required">Debes seleccionar una canci&oacute;n.</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Resumen</label>
                <textarea ng-disabled="submitting"  name="resumen" ng-model="noticia.resumen" required></textarea>
                <div ng-messages="form.resumen.$error" ng-show="(form.resumen.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Contenido </label>
                <textarea ng-disabled="submitting" name="contenido" ng-model="noticia.contenido" required></textarea>
                <div  ng-messages="form.contenido.$error" ng-show="(form.contenido.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-input-container flex>
                    <label>Banner 1 (300x600)</label>
                    <md-select ng-disabled="submitting"  ng-model="noticia.noticiaads[0].ad_id">
                        <md-option value="0">Sin banner</md-option>
                        <md-option value="{{ad.id}}" ng-repeat="ad in ads | filter:{size:'300x600'}">{{ad.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Banner 2 (970x90, 728x90)</label>
                    <md-select ng-disabled="submitting"  ng-model="noticia.noticiaads[1].ad_id">
                        <md-option value="0">Sin banner</md-option>
                        <md-option value="{{ad.id}}" ng-repeat="ad in ads | filter:filterSize">{{ad.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Posicion home</label>
                    <md-select ng-disabled="submitting" name="home" placeholder="Forzar home" ng-model="noticia.home_pos">
                        <md-option ng-value="0" >Automatico</md-option>
                        <md-option ng-value="$index+1" ng-repeat="posicion in posiciones track by $index">{{$index+1}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>CTA link (vacio para link a la noticia)</label>
                    <input name="cta_link" ng-model="noticia.cta_link" ng-disabled="submitting"/>
                    <div ng-messages="form.cta_link.$error" ng-show="(form.cta_link.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
            </div>

            <md-chips ng-model="noticia.tags" md-on-append="newTag($chip)" flex>
                <md-autocomplete
                        md-selected-item="selectedTag"
                        md-search-text="searchText"
                        md-items="item in querySearch(searchText)"
                        md-item-text="item.nombre"
                        placeholder="Search or enter a new tag">
                    <span md-highlight-text="searchText">{{item.nombre}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      <strong>{{$chip.nombre}}</strong>
                    </span>
                </md-chip-template>
            </md-chips>
            <md-input-container>
                <div class="upload-container">
                    <md-button ngf-change="fileChange()" ng-disabled="submitting" class="md-raised md-primary file" type="file" name="imagen" ng-model="noticia.imagen" required ngf-select="" ngf-accept="'image/*'">
                        Subir imagen
                    </md-button>
                    <div ng-messages="form.imagen.$error" ng-show="(form.imagen.$dirty || attempted)">
                        <div ng-message="required">Debe subir una imagen.</div>
                    </div>

                    <div class="previews" ng-if="noticia.imagen">
                        <img  ngf-src="noticia.imagen" ngf-accept="'image/*'"/>
                        <p >{{noticia.imagen.name || noticia.imagen}}</p>
                    </div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
    <md-progress-linear ng-if="submitting || progress!=0" class="md-accent" md-mode="{{progress!=0 ? 'determinate' : 'indeterminate'}}" value="{{progress}}">
</md-dialog>