<md-dialog class="md-whiteframe-z2" xmlns:display="http://www.w3.org/1999/xhtml" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!edit">Agregar canci&oacute;n</h2>
            <h2 ng-if="edit">Editar canci&oacute;n</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <div layout="row">
                <md-input-container flex>
                    <label>Nombre</label>
                    <input ng-disabled="submitting" name="nombre" ng-model="cancion.nombre" required/>
                    <div ng-messages="form.nombre.$error" ng-show="(form.nombre.$dirty || attempted)">
                        <div ng-message="required">Debes ingresar un nombre.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Duraci&oacute;n (milisegundos)</label>
                    <input ng-disabled="submitting" type="number" name="duracion" required ng-model="cancion.duracion"/>
                    <div ng-messages="form.duracion.$error" ng-show="(form.duracion.$dirty || attempted)">
                        <div ng-message="required">Debe ingresar la duraci&oacute;n</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <md-select ng-disabled="submitting" name="disco" placeholder="Sin disco" ng-model="cancion.disco_id" required>
                    <md-option value="0" >Sin disco</md-option>
                    <md-option ng-value="disco.id" ng-repeat="disco in discos">{{disco.nombre}}</md-option>
                </md-select>
            </md-input-container>
            <div class="container" layout="row">
                <md-input-container flex>
                    <label>Link appstore</label>
                    <input ng-disabled="submitting" name="link_appstore" ng-model="cancion.link_appstore" required/>
                    <div ng-disabled="submitting" ng-messages="form.link_appstore.$error" ng-show="(form.link_appstore.$dirty || attempted)">
                        <div  ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Link playstore</label>
                    <input ng-disabled="submitting" name="link_playstore" ng-model="cancion.link_playstore" required/>
                    <div  ng-messages="form.link_playstore.$error" ng-show="(form.link_playstore.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Link spotify</label>
                    <input ng-disabled="submitting" name="link_spotify" ng-model="cancion.link_spotify" required/>
                    <div ng-disabled="submitting" ng-messages="form.link_spotify.$error" ng-show="(form.link_spotify.$dirty || attempted)">
                        <div ng-message="required">Debes completar este campo.</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <div class="upload-container">
                    <md-button ngf-change="fileChange()" ng-disabled="submitting" class="md-raised md-primary file" type="file" name="source" ng-model="cancion.audio_source" required ngf-select="" ngf-accept="'audio/*'">Subir audio</md-button>
                    <div ng-messages="form.source.$error" ng-show="(form.source.$dirty || attempted)">
                        <div ng-message="required">Debe subir un archivo de audio. </div>
                    </div>
                    <div class="previews" ng-if="cancion.audio_source">
                        <audio  controls ngf-src="cancion.audio_source" ngf-accept="'audio/*'"></audio>
                        <p>{{cancion.audio_source.name || cancion.audio_source}}</p>
                    </div>
                    <md-progress-linear ng-if="progress!=0" class="md-accent" md-mode="determinate" value="{{progress}}">
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="submitting"  ng-click="hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="submitting"  ng-click="submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
</md-dialog>