<md-dialog class="md-whiteframe-z2" xmlns:display="http://www.w3.org/1999/xhtml" flow-init="{target:'/uploader'}" flow-drop flow-drag-enter="style={opacity: 0.5}"
           flow-drag-leave="style={}">

    <md-dialog-content class="md-padding ">
        <h2>Agregar Canci&oacute;n</h2>
        <form name="cancionForm" >
            <md-input-container>
                <label>Nombre</label>
                <input name="nombre" ng-model="cancion.nombre" ng-disabled="submitting"/>
                <div ng-messages="cancionForm.nombre.$error" ng-show="cancionForm.nombre.$dirty">
                </div>
            </md-input-container>
            <md-input-container>
                <label>Disco</label>
                <input name="disco" ng-model="cancion.disco_id" number numeric ng-disabled="submitting"/>
                <div ng-messages="cancionForm.disco.$error" ng-show="cancionForm.disco.$dirty">
                </div>
            </md-input-container>
            <md-input-container>
                <label>Duraci&oacute;n (segundos)</label>
                <input name="duracion" ng-model="cancion.duracion" number numeric ng-disabled="submitting"/>
                <div ng-messages="cancionForm.duracion.$error" ng-show="cancionForm.duracion.$dirty">
                </div>
            </md-input-container>
            <md-input-container>
                <div class="upload-container">
                    <md-button ng-disabled="submitting" class="md-raised md-primary file" type="file" name="source" ng-model="cancion.audio_source" required ngf-select="" ngf-accept="'audio/*'">Subir fuente</md-button>
                    <label ng-if="cancion.audio_source">{{cancion.audio_source.name}}</label>

                    <div ng-messages="cancionForm.source.$error" ng-show="cancionForm.source.$dirty">
                        <div ng-message="required">Debe subir un archivo de audio </div>
                    </div>
                    <audio ng-if="cancion.audio_source" controls ngf-src="cancion.audio_source" ngf-accept="'audio/*'"></audio>
                    <md-progress-linear ng-if="progress!=0" class="md-accent" md-mode="determinate" value="{{progress}}">
                </div>
            </md-input-container>
        </form>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="hide()" ng-disabled="submitting" class="md-secondary">
                Cancelar
            </md-button>
            <md-button ng-click="submit()" ng-disabled="submitting" class="md-primary">
                Aceptar
            </md-button>
        </div>
    </md-dialog-content>


</md-dialog>