<dtable options="options" rows="canciones" on-row-click="showEdit(row)" class="material dt">
    <column name="Nombre">{{value}}</column>
    <column name="Disco">{{row.disco.nombre}}</column>
    <column name="Duraci&oacute;n (ms)">{{row.duracion}}</column>
    <column name="Creado">{{row.created_at | date:'MM/dd/yyyy'}}</column>
    <column frozenRight="true" width="50">
        <md-button class="md-icon-button" ng-click="delete(row, $event)">
            <md-icon>
                <i class="material-icons" >delete</i>
            </md-icon>
        </md-button>
    </column>
</dtable>
<md-button class="md-fab agregar" ng-click="showAdd($event)">
    <md-icon>
        <i class="material-icons" >add</i>
    </md-icon>
</md-button>
