<md-dialog xmlns:display="http://www.w3.org/1999/xhtml" class="md-whiteframe-z2" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!vm.edit">Agregar categoria</h2>
            <h2 ng-if="vm.edit">Editar categoria</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.hide()">
                <md-icon>
                    <i class="material-icons" >clear</i>
                </md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <md-dialog-content>
        <form name="form">
            <md-input-container>
                <label>Nombre</label>
                <input ng-disabled="vm.submitting" name="nombre" ng-model="vm.categoria.nombre" required/>
                <div ng-messages="form.nombre.$error" ng-show="(form.nombre.$dirty || attempted)">
                    <div ng-message="required">Debes completar este campo.</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-disabled="vm.submitting"  ng-click="vm.hide()" class="md-secondary">
            Cancelar
        </md-button>
        <md-button ng-disabled="vm.submitting"  ng-click="vm.submit()" class="md-primary">
            Aceptar
        </md-button>
    </div>
    <md-progress-linear ng-if="vm.submitting" class="md-accent" md-mode="indeterminate">
</md-dialog>